* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.616);
    border-radius: 20px;
    border: transparent;
}

.library-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: rgb(226, 218, 252);
    box-shadow: 2px 2px 50px rgb(168, 168, 168);
    overflow-y: scroll;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease;

    svg {
        cursor: pointer;
        font-size: 1.5rem;
    }

    .library-nav {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        margin: auto;
    }

    .library-song-container {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.75rem 2rem;
        margin: 0.25rem 0;
        cursor: pointer;
        transition: all 0.5s ease;

        h3 {
            font-size: 1rem;
        }

        h4 {
            font-size: 0.7rem;
        }

        img {
            width: 40%;
            border-radius: 5px;
        }

        &:hover {
            background-color: rgb(198, 166, 250);
        }

        .library-song-desc {
            padding-left: 1rem;
        }
    }
}

.active {
    background: rgb(178, 150, 255);
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}

.dark-mode {
    .library-container {
        background: rgb(22, 0, 43);
        p,
        a {
            color: white;
        }
    }
}

@media screen and (max-width: 630px) {
    .library-container {
        width: 100%;
    }
}