.player-container {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .time-slider-control {
        width: 50%;
        display: flex;

        input {
            width: 100%;
            cursor: pointer;
        }

        .track {
            width: 100%;
            cursor: pointer;
            position: relative;
            height: 0.5rem;
            border-radius: 0.5rem;
            overflow: hidden;
            align-self: center;

            input[type="range"] {
                background: rgb(155, 127, 255);
                -webkit-appearance: none;

                &:focus {
                    outline: none;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 20px;
                    width: 16px;
                }

                &::-moz-range-thumb {
                    -webkit-appearance: none;
                    border: none;
                    background: transparent;
                }
            }

            .animate-track {
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left: 0;
                background: rgb(216, 215, 215);
                transform: translateX(0%);
                pointer-events: none;
            }
        }

        p {
            padding: 0 1rem;
        }
    }

    .play-pause-control {
        width: 30%;
        display: flex;
        justify-content: space-between;

        svg {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 800px) {
    .player-container {
        .time-slider-control {
            width: 80%;
        }
        .play-pause-control {
            width: 40%;
        }
    }
}

@media screen and (max-width: 600px) {
    .player-container {
        .time-slider-control {
            width: 100%;
        }
        .play-pause-control {
            width: 50%;
        }
    }
}