@import "./song";
@import "./player";
@import "./library";
@import "./nav";
@import "./footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',
    sans-serif;
}

h1, h2, h3, h4, p {
    color: rgb(54, 54, 54);
}

h4, h5 {
    font-weight: 400;
}

.dark-mode {
    background: linear-gradient(to right, #1e3f55, #200e25);
    color: white;

    h1,
    h2,
    h3,
    h4,
    h5
    p {
        color: white;
    }

    button {
        border: 2px solid white;
        color: white;

        &:hover {
            color: rgba(75, 74, 74);
            background: white;
        }
    }
}

.app-container {
    transition: all 0.5s ease;
}

.library-active {
    margin-left: 10%;
}

@media screen and (max-width: 1080px) {
    .library-active {
        margin-left: 30%;
    }
}

@media screen and (max-width: 800px) {
    .library-active {
        margin-left: 50%;
    }
}