* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',
    sans-serif;
}

h1, h2, h3, h4, p {
    color: rgb(54, 54, 54);
}

h4, h5 {
    font-weight: 400;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
@import "./footer";